/*
Plugin Name: Updater
Plugin URI:  http://bestwebsoft.com/plugin/
Description: This plugin allows you to update plugins and WP core in auto or manual mode.
Author: BestWebSoft
Version: 1.15
Author URI: http://bestwebsoft.com/
License: GPLv2 or later
*/
#adminmenu #toplevel_page_bws_plugins div.wp-menu-image {
	background: url("../images/icon_16.png") no-repeat scroll center center transparent;
}
.admin-color-classic #adminmenu #toplevel_page_bws_plugins div.wp-menu-image {
	background: url("../images/icon_16_b.png") no-repeat scroll center center transparent;
}
#adminmenu #toplevel_page_bws_plugins:hover div.wp-menu-image,
#adminmenu #toplevel_page_bws_plugins.wp-has-current-submenu div.wp-menu-image {
	background: url("../images/icon_16_c.png") no-repeat scroll center center transparent;
}	
.wrap #icon-options-general.icon32-bws {
	background: url("../images/icon_36.png") no-repeat scroll left top transparent;
}
.admin-color-classic .wrap #icon-options-general.icon32-bws {
	background: url("../images/icon_36_b.png") no-repeat scroll left top transparent;
}
#toplevel_page_bws_plugins .wp-submenu .wp-first-item {
	display: none;
}
.bws_go_pro_tab {
    background-color: #2A95C5;
    border-color: #11688F;
    color: #FFFFFF;
    font-weight: normal !important;
    text-shadow: none;
}
.bws_go_pro_tab:hover {
    background-color: #2080AB;
    color: #FFFFFF;
    border-color: #11688F;
}
/*
* styles for rate-support div on the settings page
*/
.bws-plugin-reviews {
    background: none repeat scroll 0 0 #BEE1F1;
    border: 1px solid #70A8C2;
    border-radius: 3px;
    max-width: 700px;
}
.bws-plugin-reviews-rate {
    padding: 10px;
    border-bottom: 1px dashed #70A8C2;
}
.bws-plugin-reviews-support {
    padding: 10px;
}
/*
* styles for settings page
*/
.pdtr {
	width: auto !important;
}
.pdtr * {
	width: auto !important;
}
.pdtr td,
.pdtr td {
	border-bottom-color: #DFDFDF;
    border-top-color: #FFFFFF;
}
.pdtr .plugin-title {
    border-right: 1px solid #DFDFDF !important;
    padding-right: 15px !important;
    padding-top: 7px !important;
}
.pdtr thead tr th {
	padding: 8px 8px 7px 0 !important;
}
.pdtr .check-column {
	padding: 7px 8px 7px 8px !important;
}
.pdtr_right {
	float: right;
}
.pdtr_right input {
    position: relative;
    top: -1px;
}
.pdtr_left {
	float: left;
	padding-right: 15px;
}
.pdtr_settings input {    
    margin: 0 !important;
	position: relative;
    top: 1px;
}
.pdtr_settings input[type="text"],
.pdtr_settings input[type="url"],
.pdtr_settings input[type="email"] {
	background-color: #FFFFFF;
    border-color: #DFDFDF;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
	width: 300px;
}
.pdtr_span {
	color: #888888;
	font-size: 10px;
	margin: 0;
}
/* css for pro-version block */
table.bws_pro_version { 
    background: #E0E0E0;
    border: 1px solid #AAA;
    margin-bottom: 5px;
    width: auto !important;
    float: left;
}
table.bws_pro_version th,
table.bws_pro_version td {
    color: #555;
    padding-left: 10px;
}
.bws_pro_version_tooltip {
    background: #FFF;
    border: 1px solid #AAA;
}
.form-table.bws_pro_version .bws_pro_version_tooltip th {
    font-weight: normal;
    padding-bottom: 10px;
}
div.bws_pro_version { 
    background: #E0E0E0;
    border: 1px solid #AAA;
    padding: 0;
    width: auto !important;
    float: left;
    margin-bottom: 10px;
}
div.bws_pro_version p { 
    padding: 0 10px;
}
div.bws_pro_version_tooltip {
    padding: 10px;
}
a.bws_plugin_menu_pro_version {
    background: #E0E0E0;
    color: #464646;
}
a.bws_plugin_menu_pro_version:hover {
    background: #D2D2D2;
    color: #464646;
}
.pdtr_img {
	margin-bottom: -3px;
	opacity: 0.6;
}
/*
* styles for banner 
*/
.bws_banner_on_plugin_page {
    border: 1px solid #d4d4d4;
    background: #FFF;
    position: relative;
    overflow: hidden;
    margin: 12px 0;
    background: #ECECEC;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.bws_banner_on_plugin_page .text {
    color: #000;
    font-size: 15px;
    line-height: 26px;
    margin: 18px 18px 14px;
    float: left;
    width: 80%;
}
.bws_banner_on_plugin_page .text span {
    font-size: 12px;
    opacity: 0.7;
}
.bws_banner_on_plugin_page .button {
    float: left;
    border: none; 
    font-size: 14px;
    margin: 18px 0 18px 16px;
    padding: 14px 0;
    color: #FFF;
    text-shadow: none;
    font-weight: bold;
    background: #0074A2;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 147px;
    box-shadow: none;
}
.bws_banner_on_plugin_page .button:hover,
.bws_banner_on_plugin_page .button:focus {    
    background: #222;
    color: #FFF;
}
.bws_banner_on_plugin_page .icon {
    float: right;
    margin: 18px 8px 8px 0;
}
.bws_banner_on_plugin_page .close_icon {
    float: right;
    margin: 8px;
    cursor: pointer;
}